$main-font: Lato, PT Sans, Helvetica Neue, Helvetica, Arial;

// colors

$header-color: #FF5854;
$yellow: #FFBE63;
$footer-color: #2B2B2B;

// heights

$header-height: 100px;
$footer-height: 80px;
$logo-size: 7em;
$logo-offset: 10px;
